<div class="col-md-2 col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lorem Ipsum
        </div>
        <div class="panel-body">
            <img src="https://placehold.it/300?text=placeholder" style="width: 100%"/>
        </div>
    </div>
</div>
