{% extends "::base.html.twig" %}

{% block body %}
    <div class="btn-group-vertical col-12" role="group">
        <a href="{{ path('decks') }}" class="btn btn-outline-primary btn-lg btn-block" role="button">Decks</a>
    </div>
{% endblock %}
