{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="panel panel-default col-md-2">
            <div class="panel-body">
                <form action="" method="POST">
                    {% block search_form %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <input name="keyword" class="form-control" type="search" placeholder="Keywords..." />
                            </div>
                        </div>
                    {% endblock %}
                </form>
            </div>
        </div>

        <div class="panel panel-default col-md-10">
            <div class="panel-body">
                {% block search_result %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
{% endblock %}
